extends layout

mixin listAuthors(authors)
  ul(class="list-items authors_list")
    each author in authors
      - var aid = author.ID;
      - var posts = author_posts[aid];
      - var trgtprop = 'authors/' + aid;
      
      li(class='author select_link', id=trgtprop)
        div
          input(class="dz-hidden-input", type="radio", name="author_id", id='author_id_' + aid, value=aid)
          label(for='author_id_' + aid) #{author.display_name}

  script.
    $(function() {
      //- $( "#submit" ).on( "click", function(event) {
      //-   console.log($("body").find("select,textarea, input").serialize());
      //- });
      $( "li.select_link label" ).on( "click", function(event) {
        //- event.preventDefault();
        //- event.stopImmediatePropagation();
        event.stopPropagation();
      });

      $( ".list-items" ).on( "redraw", function(event) {
        $(this).children("li.select_link").trigger('showstat');
      });
      
      $( "li.select_link" ).on('showstat', function(event) {
        var self = $(this);
        $(this).find(':radio, :checkbox').each( function (i, input) {
          self.toggleClass( "active", input.checked);
        });
      })
      .on( "change", "input", function(event) {
        $(this).closest('ul').trigger('redraw');
      })
      .on('click', function(event) {
        // Only on non-input events, lest it'll unset the user choice
        if ( ! $(this).hasClass( "active" )) {
          //- $(this).find(':radio, :checkbox').each( function (i, input) {          
          $(this).find(':radio').each( function (i, input) {
            if (event.target.tagName.toUpperCase() != 'INPUT') {
              input.checked = ! input.checked;
            }
            $(input).trigger('change');              
          });
        }
      });

      $('.author').click(function(event) {
        var refId = $(this).attr("id");
        if ($(this).hasClass( "active" ) && $('#author_posts').data("ref") != refId ) {
          //- $('#dropzone-previews').empty().hide();
          //- $('#author_posts').empty().hide();
          $('#author_posts').data("ref", refId ).empty().show().load('/' + refId + '/posts');
        }
      });

      function getOpts(uri) {
        return {
          url: uri,
          previewsContainer: ".dropzone-previews",
          autoProcessQueue: false,
          autoQueue: true,
          uploadMultiple: true,
          parallelUploads: 4,
          addRemoveLinks: true,
          maxFiles: 4,
          init: function() {
            dzClosure = this; // closure
            dzClosure._cdat = 0;

            var submitButton = document.querySelector("#submit")
            submitButton.addEventListener("click", function( event) {
              event.preventDefault();
              event.stopPropagation();
              //- event.stopImmediatePropagation();
              if (dzClosure.getQueuedFiles().length > 0) {
                  dzClosure.processQueue();
              } else {
                  dzClosure.uploadFiles([{ name: 'nofiles' }]); //send empty
              }
            });

            this.on("success", function (file, responseText) {
                console.log(responseText);
            });

            //send all the form data along with the files:
            this.on("sendingmultiple", function (data, xhr, formData) {
              console.log('sendingmultiple');
              //- console.log('data', data);

              var ary = $("body").find("select, textarea, input:checkbox, input:radio").serializeArray();
              
              $.each(ary, function (i, elem) {
                formData.append(elem.name, elem.value); // Append all the additional input data of your form here!
                console.log('nv', elem);
              })
            });
            // You might want to show the submit button only when 
            // files are dropped here:
            this.on("addedfile", function(file) {
              dzClosure._cdat += 1;
              console.log('_cdat', dzClosure._cdat);
              console.log('file', file);
              // Show submit button here and/or inform user to click it.
            });

            this.on("sending", function(file, xhr, formData) {
              console.log('sending', formData);

              //- var value = $('form#upload1 #key').val();
              //- var ary = $("body").find("select, textarea, input:checkbox, input:radio").serializeArray();
              //- console.log('ary', ary);

              //- $.each(ary, function (i, elem) {
              //-   formData.append(elem.name, elem.value); // Append all the additional input data of your form here!
              //-   console.log('nv', elem);
              //- })
            });
          }
        };
      }

      //- $('#post_block_form').dropzone();

      // The camelized version of the ID of the form element
      //- Dropzone.postBlockForm.options = zoneOpts;
      //- $('#post_block_form').dropzone(zoneOpts);
      $('#author_posts').on('click', '.new_post', function(e) {
        var self = $(this);
        var postBlockForm = new Dropzone("#post_block_form", getOpts(self.attr("id")));
        console.log('self.attr("id")', self.attr("id"));
        $('#post_block').show();
        $('#previewzone').show();

        //- console.log('block', $('#post_block_form'))
        //- console.log($('#post_block_form').dropzone)
      });
      
    });

block content
  h1=Publisher

  <!-- Board info bar -->
  <section class="board-info-bar">
    <div class="board-controls">
      <div class="board-title btn"><h2>Rasa CMS - Publisher</h2></div>
      <div class="star-btn btn"><i class="far fa-star"></i> </div>
      <div class="personal-btn btn">Personal sdaff</div>
    </div>

    <div class="menu-btn btn"><i class="fas fa-ellipsis-h menu-btn-icon"></i>Show Menu</div>

  </section>
  <!-- End of board info bar -->

  <!-- Lists container -->
  <section class="lists-container">

    <div class="list">
      <h3 class="list-title">Authors</h3>
      +listAuthors(authors)
    </div>

    <div class="list" style="display: none;" id="author_posts">author_posts</div>
    
    <div class="list" id="post_block" style="display: none; height: 36em; text-align: center;">
      <span class="list-title"><h3>Create Article</h3> Upload: .doc, header image</span>
      <form id="post_block_form" class="zone_form dropzone-previews" method="post" enctype="multipart/form-data"></form>
    </div>

    <div class="list" id="categories" style="display: none;">
      <h3 class="list-title">Categories</h3>
      ul(class="list-items")
        each category in categories
          li(class='category select_link')
            div
              input(class="dz-hidden-input", type="checkbox", id='category/' + category.term_id, name="category", value=category.term_id)
              label(for='category/' + category.term_id) /#{category.parentName}/#{category.name}
    </div>
   
    <div class="add-list" id="submit">Submit Article</div>
  </section>
  <!-- End of lists container -->


//- ,{
//-   "ID":572,
//-   "post_title":"Irreverent Sanskrit Verse",
//-   "post_name":"irreverent-sanskrit-verse",
//-   "post_date":"2016-11-05 07:20:53","post_status":"publish"
//-   },
//- {"ID":77,"post_title":"Selling Yoga: From Counterculture to Pop Culture","post_name":"selling-yoga-from-counterculture-to-pop-culture","post_date":"2016-11-02 05:59:59","post_status":"publish"},{"ID":15,"post_title":"Flirting with Shakti:  Tantric Insights in Dealing with Our Inner Shadow","post_name":"flirting-with-shakti-tantric-insights-in-dealing-with-our-inner-shadow","post_date":"2016-10-20 15:34:29","post_status":"publish"},{"ID":9,"post_title":"Incarnations - India in Fifty Lives","post_name":"incarnations-india-in-fifty-lives","post_date":"2016-10-20 15:31:51","post_status":"publish"},{"ID":148,"post_title":"Translating Rasul Mir: Poet of Kashmir","post_name":"translating-rasul-mir","post_date":"2016-06-22 01:49:35","post_status":"publish"}]


//-  "ID","post_title","post_name","post_date","post_status","post_author"
//- {"ID":148,"post_title":"Translating Rasul Mir: Poet of Kashmir","post_name":"translating-rasul-mir","post_status":"publish","post_author":"2"}
//-  {"ID":148,"post_title":"Translating Rasul Mir: Poet of Kashmir","post_name":"translating-rasul-mir","post_status":"publish","post_author":"2"}]
//- wp post list --post_type=post  --fields=ID,post_title,post_name,post_status,post_author  --format=json
